:root {
  --color-bg-main: hsl(223, 19%, 93%);
  --color-font-primary: hsl(211, 10%, 45%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-bg-main);
  color: var(--color-font-primary);
  font-family: 'Rubik', sans-serif;
  font-size: 13.5px;
}

.comments-section {
  margin: 40px auto;
  width: 600px;
}

.comment-box {
  display: flex;
}

.vote-count-cont {
  background-color: hsl(228, 33%, 97%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 75px;
  justify-content: center;
  padding: 5px;
  width: 35px;
}

.comment-content-cont {
  margin-left: 20px;
  width: 100%;
}

.comment-box,
.comment-input-box {
  background-color: #fff;
  border-radius: 5px;
  line-height: 1.6em;
  margin-top: 15px;
  padding: 20px;
}

.comment-input-box {
  background-color: var(--color-bg-main);
  border-radius: 5px;
  border-radius: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  line-height: 1.6em;
  margin-top: 15px;
  padding: 20px 0;
  position: sticky;
}

.child-comment-thread {
  border-left: 1.2px solid lightgray;
  margin-left: 25px;
  padding-left: 25px;
}

.profile-thumb {
  align-self: center;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  width: 30px;
}

.user-thumb {
  height: 40px;
  width: 40px;
}

.comment-input-box textarea {
  background-color: var(--color-bg-main);
  border: 1.5px solid hsl(238, 40%, 52%);
  border-radius: 5px;
  color: inherit;
  font-family: 'Rubik';
  font-size: inherit;
  margin: 0 20px;
  max-height: 100px;
  outline: none;
  padding: 10px;
  resize: none;
  scroll-padding: 10px 0;
  vertical-align: middle;
  width: 445px;
}

.comment-input-box textarea::placeholder {
  font-family: 'Rubik';
  font-size: 0.9em;
}

.comment-input-box textarea:focus {
  border: 2px solid hsl(238, 40%, 52%);
}

.comment-input-box button {
  align-self: center;
  background-color: hsl(238, 40%, 52%);
  border: none;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 0.5px;
  padding: 10px 20px;
}

.comment-input-box button:hover {
  background-color: hsl(238, 49%, 73%);
  cursor: pointer;
}

.comment-meta > span {
  padding-left: 10px;
}

.comment-box > p {
  margin-top: 12px;
}

.username {
  color: hsl(212, 24%, 26%);
  font-weight: 500;
}

.vote-count-cont * {
  align-self: center;
}

.vote-count-cont p {
  margin: 7px 0 5.5px;
}

.vote-count-cont svg:hover path {
  cursor: pointer;
  stroke: hsl(238, 40%, 52%);
}

.vote-count-cont svg path {
  stroke: hsl(238, 49%, 73%);
}

/* attr selector is just to increase specifity */
svg[class='voted'] path {
  stroke: hsl(238, 40%, 52%);
}

.comment-meta {
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: middle;
}

.comment-meta-cont {
  display: flex;
  justify-content: space-between;
}

.reply-btn {
  cursor: pointer;
}

.reply-btn:hover > div > svg path {
  fill: hsl(238, 49%, 73%);
}

.reply-btn:hover > div > span {
  color: hsl(238, 49%, 73%);
}

.reply-btn > div > svg {
  margin-right: 6px;
}

.reply-btn > div > * {
  vertical-align: middle;
}

.reply-btn > div > span {
  color: hsl(238, 40%, 52%);
  font-weight: 500;
}
